.slider {
    display: flex;
    width: 100%;
    gap: 8px;
    align-items: center;
    overflow: visible !important;
}

.sliderContainer {
    display: flex;
    flex: 1;
    overflow-x: auto;
    scrollbar-width: none;
    min-width: 0;
    gap: 8px;
    padding: 4px 0;
}

.sliderContainer > * {
    display: flex;
    flex-shrink: 0;
    width: max-content;
    gap: inherit;
}

.arrow {
    border: none;
    background-color: white;
    cursor: pointer;
    flex-shrink: 0;
}

.slider.dark .arrow {
    background-color: #23272f;
    color: #f6f7f9;
}

.slider.light .arrow {
    background-color: white;
    color: black;
}